/client/node_modules
/client/.next/
/client/out/
/client/.pnp
/client/.pnp.js
/client/build
/client/yarn-debug.log*
/client/yarn-error.log*
/server/node_modules
/server/dist
/server/.env
/server/yarn-error.log*
/server/yarn-debug.log*
.vscode
